    body {
        padding: 1em;
        color: black;
        background-color: #f5cd7a;
        font-family: 'Kanit', sans-serif;
        -webkit-user-select: none;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
    }
    
    #Sec-Page,
    #Td-Page,
    #Forth-Page {
        display: none;
    }
    
    .row {
        padding: .5rem;
    }
    
    #nav-date {
        margin-top: .2rem;
    }
    
    #nav-main {
        font-style: white;
        background-color: #FBFFC2;
    }
    
    #show {
        margin-top: .5em;
        padding: .3rem;
    }
    
    #dateTop {
        background-color: rgb(251, 255, 194, 0.3);
        margin-inline-end: .2em;
        margin-inline-start: .2em;
    }